.shots{
  display: flex;
  flex-wrap: wrap;
  justify-content:
}

.shot{
  flex-basis: 200px;
  height: 200px;
  border: 1px solid #ececec;
  flex-shrink: 0;

}

.shotImage{
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
